<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("layouts/headTag") %>
</head>

<body>
  <div class="glass-container" id="glass">
    <!-- header -->
    <%- include("layouts/header") %>
      <section class="mt-5">
        <!-- type selector -->
        <%- include("layouts/typeSelector") %>
         <!-- search by pincode -->
         <% if (type==="pincode") { %> 
          <%- include("layouts/searchByPincode") %>
        <% } %>
        <!-- search by district -->
        <% if (type==="district") { %>
          <%- include("layouts/searchByDistrict") %>
        <% } %>
        <% if (slots && slots.length) { %>
          <% slots.forEach(slot => { %>
          <div class="card">
            <div class="card-content">
              <div class="content">
          <p><%= slot.center_name %></p>
              </div>
            </div>
          </div>
          <br>
          <% }) %>
        <% } else { %>
          <p class="has-text-danger has-text-centered">No Vaccination slots availabe for this Pincode as of now.</p>
          <% } %>
      </section>
  </div>
</body>

</html>